.post {
    & h3 {
        text-wrap: balance;
        margin-bottom: 1rem;
    }

    & p {
        text-wrap: pretty;
        margin-bottom: 1rem;

    }

    & .btn-icon {
        display: flex;
        gap: 0.5rem 1rem;
        padding: 0.5rem 0;

        & button {
            color: purple;
            background: none;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s;
        }
        & button:hover {
            transform: scale(1.1);
        }

    }
}