.card-tips {
    width: 100%;
    position: relative;

    & .input-container-tips {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        font-size: 1rem;

        & .quantity {
            background-color: purple;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;

            & input[type="text"] {
                text-align: center;
                width: 35px;
                font-size: 1rem;
                font-weight: 600;
            }
        }

        & .btn {
            background: none;
            border: none;
            color: white;
            width: 30px;
            height: 30px;
            font-size: 1rem;
            text-align: center;

        }
    }
}

.form {
    width: 100%;

    & input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        margin: 0.5rem 0;
        border: solid 1px rgb(0, 0, 0, 0.3);
    }

    & textarea {
        resize: vertical;
        min-height: 150px;
    }

    & hr {
        margin: 1rem 0;
    }

    & .inv {
        margin: auto;
        text-align: center;
        text-wrap: pretty;
        margin-top: -1.9rem;
        background-color: white;
        width: fit-content;
        padding: 0 1rem;
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.9rem;
    }

    & .buy-mercadopago {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        background-color: purple;
        color: white;
        padding: 1rem 0.5rem;
        border-radius: 0.4rem;
        margin-top: 0.5rem;
        cursor: pointer;
    }
}

.modal-buy-mercadopago {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 1.5rem rgb(0, 0, 0, 0.06);
    border-radius: 1rem;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal-header {
    text-align: center;   
}