.profile-description {
    width: 100%;
    flex-grow: 1;
}

.redes {
    display: flex;
    gap: 0.2rem;
    margin: 1rem 0;
    list-style: none;

    & li {

        & a {
            padding: 0.5rem;
            text-decoration: none;
            color: purple;
            transition: all 0.3s ease;
        }

        & a:hover {
            transform: scale(1.2);
        }

    }

}

.list-tag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;

    & .tag {
        cursor: pointer;
        background-color: plum;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: purple;
        font-weight: 400;
    }
}