.profile-description {
    width: 100%;
    flex-grow: 1;
    max-width: 550px;
    flex-grow: 1;
}

.box {
    margin: auto;
    max-width: 480px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 2px 6px rgba(0, 0, 0, .04), 0 10px 20px rgba(0, 0, 0, .04);

    & h4 {
        margin-bottom: 1rem;
    }
}

.redes {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    & a {
        text-decoration: none;
        color: black;
    }

}

.list-tag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;
    & .tag {
        cursor: pointer;
        background-color: plum;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: purple;
        font-weight: 400;
    }
}